@{
    ViewData["Title"] = "Сделать запрос";
}

<h1>
    Запрос на статистику
    <span style="float: right">
        <a asp-action="ListGithubStats">на главную</a>
    </span>
</h1>

<form action="#" method="post">
    <input type="text" name="Group" placeholder="Group" required>
    <br>
    <input type="text" name="Repository" placeholder="Repository" required>
    <br>
    <input type="submit" value="Запросить статистику">
</form>